<div class=header>
	<h1>Welcome To Bhate School</h1>
	<div class=headermain>
		<ul>
			<a href="/"><li>Home</li></a>
			<a href="/addstudent"><li>Add New Student</li></a>
			<a href="/addresult"><li>Add Student Results</li></a>
			<a href="/viewresult"><li>View Student Results</li></a>
			<a href="/studentinfo"><li>View Student Info</li></a>
			<a href="/billstatus"><li>View Student Billing Stuatus</li></a>
			<a href="/billpayment"><li>Pay Bill</li></a>
			<a href="/transaction"><li>Transactions</li></a>
		</ul>
	</div>
</div>