{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class=home>
	<div class=introduction>
		<h2>Introduction</h2>
		<p>We are one of the fastest growning school in nepal. The motto of our school is <strong>Education For Everyone</strong>. The main idea behind the establishment of this school is to provide quality education to those children whose family economic status is below average. There are 7 branches of our school across Nepal so that every student in every corner of our country can get quality education.</p>Also known as Samata boarding school.
	</div>

	<div class=voiceofprinciple>
		<h2>Voice Form Principle</h2>
		<img src="{%static "images/principle.jpg" %}">
		<p>Together it has really been a great journey, producing excellent manpower, enhancing and cultivating the fruits of education in every
		single students of ours. We have also been sucessful in producing excellent results in the SEE and BLE. Here, at this juncture, we would like to extend our heartfelt gratitude to all our teaching as well as office staff and also to all the parents and well wishers, without whose support we would not have been sucessful in lifting up our educational excellence.</p>
		<p>As is said, "The End of Education is Character", we believe to inculcate the moral values in our students as well here too, we would like to request our parents and well wishers to equally be a part and help us to build up the children to be a better citizen.</p>
		<strong>Aasish Poudel</strong><br>
		Principal
	</div>

	<div class=voiceofviceprinciple>
		<h2>Voice Form Vice-Principle</h2>
		<img src="{% static "images/viceprinciple.jpg" %}">
		<p>Together it has really been a great journey, producing excellent manpower, enhancing and cultivating the fruits of education in every
		single students of ours. We have also been sucessful in producing excellent results in the SEE and BLE. Here, at this juncture, we would like to extend our heartfelt gratitude to all our teaching as well as office staff and also to all the parents and well wishers, without whose support we would not have been sucessful in lifting up our educational excellence.</p>
		<p>As is said, "The End of Education is Character", we believe to inculcate the moral values in our students as well here too, we would like to request our parents and well wishers to equally be a part and help us to build up the children to be a better citizen.</p>
		<strong>Omkar Poudel</strong><br>
		Vice Principal
	</div>

	<div class=voiceoftoppers>
		<h2>Voice Of Toppers</h2>
		<div class=firsttopper>
			<img src="{% static "images/student.png" %}">
			<p>It gives me an immense pleasure to take a stand at Bhate School and be in topper position with all the dedicated hardwork.
			It is more exciting to be in this school and an extraordinary performance. I would like to thank all the teachers and friends for this achivements.</p>
			<strong>Bibek Dahal</strong><br>
			Class 10
		</div>

		<div class=secondtopper>
			<img src="{% static "images/student2.png" %}">
			<p>It gives me an immense pleasure to take a stand at Bhate School and be in topper position with all the dedicated hardwork.
			It is more exciting to be in this school and an extraordinary performance. I would like to thank all the teachers and friends for this achivements.</p>
			<strong>Bipin Dahal</strong><br>
			Class 6
		</div>

		<div class=thirdtopper>
			<img src="{% static "images/student3.png" %}">
			<p>It gives me an immense pleasure to take a stand at Bhate School and be in topper position with all the dedicated hardwork.
			It is more exciting to be in this school and an extraordinary performance. I would like to thank all the teachers and friends for this achivements.</p>
			<strong>Aasish Poudel</strong><br>
			Class 8
		</div>

	</div>
</div>

{% endblock %}